body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Landing Section Styles */
.landing-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAF7F0;
    /* color: white; */
    text-align: center;
}

.landing-section .content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.landing-section .content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.landing-section button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: white;
    color: #6e45e2;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.landing-section button:hover {
    background-color: #eaeaea;
}

/* About Me Section */
.about-section {
    padding: 60px 20px;
    /* background-color: #ffffff; */
    background-color: #D8D2C2;
    text-align: center;
}

.about-section img{
    max-width: 100%;
    height: auto;      
    max-height: 350px; 
    object-fit: cover; 
}


.about-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.about-section p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
}

/* Portfolio Section */
.portfolio-section {
    padding: 50px 20px;
    /* background-color: #f4f4f4; */
    background-color: #D8D2C2;
    text-align: center;
}

.portfolio-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

/* Portfolio Grid */
.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 20px;
}

/* Portfolio Item */
.portfolio-item {
    /* width: calc(50% - 10px); */
    width: 55%;
    /* max-width: 900px; */
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;      
    max-height: 400px;
    object-fit: cover; 
    
}

.portfolio-item h3 {
    margin: 10px 0;
    font-size: 1.5rem;
    color: #333;
}

.portfolio-item p {
    font-size: 1rem;
    color: #666;
}

/* Image Slider Container */
.image-slider-container {
    position: relative;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

/* Image Styles */
.slider-image {
    width: 100%;
    height: auto;
    display: none; 
}

.slider-image.active {
    display: block; 
}

/* Slider Navigation Buttons */
.slider-buttons {
    text-align: center;
    margin-top: 10px;
}

.slider-button {
    background-color: #6e45e2;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    margin: 0 10px;
}

.slider-button:hover {
    background-color: #583fb5;
}

footer {
    background-color: #B17457;
    padding: 20px;
    text-align: center;

}

footer p {
    margin: 0;
    color: #FAF7F0;

}

footer a {
    margin: 0;
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    .portfolio-item {
        width: 100%;
    }
}
